/*bebas neue*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*abeezee*/
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

:root{
    --marrom: #ba6b32;
    --amarelo: #ffd95c;
    --fonte-titulo: 'Bebas Neue', sans-serif;
    --fonte-texto: 'ABeeZee', sans-serif;
}

* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*navbar*/

header {
    font-family: var(--fonte-titulo);
    color: var(--marrom);
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
    z-index: 1;
    padding: 2em;
    height: 6rem;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffffc7;
}

nav{
    display: flex;
    margin-left: 5rem;
}

.logoDiv{
    display: flex;
}

.logoDiv .logoImg{
    margin-right: -2rem;
}

.logoDiv .logoImg img{
    width: 50%;
}

.logoDiv .logoTxt{
    margin-top: 1rem;
}

.logoDiv .logoTxt p{
    font-size: 1.6rem;
}

/*search*/

.container {
    position: relative;
    box-sizing: border-box;
    width: fit-content; 
}

.mainbox {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 50px;
    margin-top: 0.2rem;
    margin-left: 80rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #BA6B32;
    transition: all 0.3s ease;
}

.checkbox:focus {
    border: none;
    outline: none;
}

.checkbox:checked {
    right: 10px;
}

.checkbox:checked~.mainbox {
    width: 50px; 
}

.checkbox:checked~.mainbox .search_input {
    width: 0;
    height: 0;
}

.checkbox:checked~.mainbox .iconContainer {
    padding-right: 8px;
}

.checkbox {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 17px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
    appearance: none;
}

.search_input {
    box-sizing: border-box;
    height: 100%;
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 1em;
    color: var(--marrom);
    transition: all 0.3s ease;
    font-family: var(--fonte-texto);
}

.search_input::placeholder {
    color: var(--marrom);
}

.iconContainer {
    box-sizing: border-box;
    padding-top: 5px;
    width: fit-content;
    transition: all 0.3s ease;
}

.search_icon {
    box-sizing: border-box;
    fill: var(--marrom);
    font-size: 1.3em;
}



/*scrolTop*/
.scrollTop {
    border: 0;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 1rem;
    z-index: 1;
    display: flex;
    outline: none;
    position: fixed;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #ffe48c;
    -webkit-box-shadow: -15px 9px 28px -12px rgba(0, 0, 0, 1);
    -moz-box-shadow: -15px 9px 28px -12px rgba(0, 0, 0, 1);
    box-shadow: -15px 9px 28px -12px rgba(139, 139, 139, 0.7);
    fill: invert(1);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}

.scrollTop.active {
    opacity: 1;
    visibility: visible;
    transition: aparecer .4s ease;
    fill: invert(-1);
}

.scrollTop.active i {
    fill: invert(1);
}

.scrollTop:hover {
    bottom: 40px;
}

.scrollTop:hover i {
    fill: invert(1);
    -webkit-filter: invert(1);
    filter: invert(1);
}

/*banner*/

.banner{
    display: flex;
    position: relative;
    top: 6rem;
}

.banner .bannerTxt{
    width: 45%;
    margin-top: 10rem;
    margin-left: 7rem;
}

.banner .bannerTxt .titulo{
    color: var(--marrom);
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.banner .bannerTxt .txt{
    font-family: var(--fonte-texto);
    color: var(--marrom);
    font-size: 1.2rem;
    width: 95%;
}

.banner .bannerTxt .avaliacao{
    margin-top: 1.5rem;
}

.banner .bannerTxt .avaliacao img{
    width: 30%;
}

.banner .bannerImg img{
    position: absolute;
    right: 0;
    width: 23%;
    top: -3rem;
}

/*header receitas*/

.receitas .header{
    text-align: center;
    margin-top: 20rem;
}

.receitas .header .logo img{
    height: 5rem;
}

.receitas .header .tituloSecao{
    color: var(--marrom);
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.galery{
    display: flex;
    flex-wrap: wrap;
    margin-left: 23rem;
    gap: 1rem;
    margin-bottom: 4rem;
}

.galery .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    margin-left: 2rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}


.galery .card .comida{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.galery .card .estrelas{
    position: relative;
    left: -9rem;
    bottom: 7rem;
    width: 30%;
}

.tituloReceita {
    text-align: left;
    margin-top: -6.8rem;
    margin-left: -21rem;
    font-family: var(--fonte-titulo);
    color: white;
    font-size: 2rem;
    letter-spacing: 3px;

}

/*footer*/

footer{
    background-color: var(--amarelo);
    color: var(--marrom);
    display: flex;
    padding: 2rem;
}

footer .logoDivFooter{
    display: flex;
    margin-left: 4.2rem;
}

footer .logoDivFooter .logoImgFooter img{
    width: 75%;
}

footer .logoDivFooter .logoTxtFooter{
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: -1.2rem;
}

footer .txtFooter{
    font-family: var(--fonte-texto);
    text-align: right;
    margin-left: 38.5rem;
    margin-top: 1rem;
}